@tailwind utilities;

@layer utilities {
  .calendar-header {
    /* font-family: "Latam Sans", sans-serif; */
    font-style: italic;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #10004f;
    box-sizing: border-box;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
  .calendar-header > * {
    font-size: 20px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    text-transform: capitalize;
  }
  .calendar-root {
    width: calc(100%);
    border-radius: 6px;

    box-sizing: border-box;
    margin: 30px 20px 20px;
    top: 60px;
    scroll-behavior: smooth !important;

    overflow-x: hidden;
    max-width: 1018px !important;
  }
  .calendar-day {
    text-size-adjust: 100%;
    user-select: none;
    border-spacing: 1px !important;
    border-collapse: separate;
    margin: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 0 0 11px !important;
    font-weight: 700 !important;
    background: #fff;
    line-height: 17px;
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    color: #5c5c5c;
    width: 44px !important;
    height: 43px !important;
    font-style: normal;
    font-size: 14px;
    text-transform: capitalize;
    margin: 1px;
  }
  .calendar-weeks {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .calendar-weeks span {
    font-weight: 500 !important;
    line-height: 19px !important;
    color: #138d86;
  }
}
